@import "styles/common";

.container {
  background-color: #fff;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.uploadInput {
  margin-top: 30px;
}

.uploadWrap {
  & > div {
    width: 100%;
  }
}

.submit {
  float: right;
}
