@import "styles/common";

.container {
  background-color: #fff;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  button {
    margin-right: 16px;
  }

  button:last-child {
    margin-right: 0;
  }
}

.submit {
  float: right;
}

.right {
  float: left;
}

.remove {
  padding-right: 0;
  padding-left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.uploadInput {
  margin-top: 30px;
}

.uploadWrap {
  & > div {
    width: 100%;
  }
}

.block {
  background-color: #fff;
  border-radius: 4px;
}

.avatarWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin-left: 10px;
}

.description {
  margin: 0;
  padding: 0;

  svg {
    color: rgba(0, 0, 0, 0.65);
    margin-right: 10px;
  }
}

.rate {
  color: #52c41aba;
}

.clientName {
  color: #1890ff;
}
