@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa Light'), local('Comfortaa-Light'),
  url('/fonts/comfortaa/Comfortaa-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
  url('/fonts/comfortaa/Comfortaa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa Medium'), local('Comfortaa-Meduim'),
  url('/fonts/comfortaa/Comfortaa-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa SemiBold'), local('Comfortaa-SemiBold'),
  url('/fonts/comfortaa/Comfortaa-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
  url('/fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
  url('/fonts/nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraLightItalic'), local('Nunito-ExtraLightItalic'),
  url('/fonts/nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Light'), local('Nunito-Light'),
  url('/fonts/nunito/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito LightItalic'), local('Nunito-LightItalic'),
  url('/fonts/nunito/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Regular'), local('Nunito-Regular'),
  url('/fonts/nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Italic'), local('Nunito-Italic'),
  url('/fonts/nunito/Nunito-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
  url('/fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito SemiBoldItalic'), local('Nunito-SemiBoldItalic'),
  url('/fonts/nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Bold'), local('Nunito-Bold'),
  url('/fonts/nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito BoldItalic'), local('Nunito-BoldItalic'),
  url('/fonts/nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
  url('/fonts/nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraBoldItalic'), local('Nunito-ExtraBoldItalic'),
  url('/fonts/nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Black'), local('Nunito-Black'),
  url('/fonts/nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito BlackItalic'), local('Nunito-BlackItalic'),
  url('/fonts/nunito/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
