@import "styles/common";

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  button {
    margin-right: 16px;
  }

  button:last-child {
    margin-right: 0;
  }
}

.status {
  white-space: nowrap;
}

.uploadInput {
  margin-top: 30px;
}

.uploadWrap {
  & > div {
    width: 100%;
  }
}

.submit {
  float: right;
}

.badge {
  margin-left: 4px;
}

.removeWrap {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.remove {
  padding-right: 0;
  padding-left: 0;
  float: right;
}

.datePicker {
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
}
