.container {
  background-color: #fff;
  border-radius: 4px;
}

.rounded {
  border-radius: 4px;
}

.pageHeader {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
}

.fullWidth {
  width: 100%;
}

.selectBadge {
  margin-left: 4px;
}

.badge {
  margin-left: 4px;
}

.removeWrap {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.remove {
  padding-right: 0;
  padding-left: 0;
  float: right;
}

.avatarWrap {
  display: flex;
  align-items: center;
}


.name {
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.submit {
  float: right;
}

.relative {
  position: relative;
}

.smallTable {
  thead > tr > th {
    background-color: transparent !important;
  }

  tbody > tr:last-of-type > td {
    border-bottom: none;
  }
}

.noPadding {
  padding: 0 !important;
}

.labelAlign {
  label {
    padding-bottom: 1px;
  }
}
