@import "variables/fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-today span {
  border-color: #1890ff;
}

.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-selected span {
  background-color: #1890ff;
  color: #fff;
}
